<div class="header"
    style="width: 100%; height: 64px; display: flex; align-items: center;justify-content: space-between;padding: 1em; background-color: #efefef;">
    <div style="text-decoration: none;" class="text-dark">
        <h3>Food Order</h3>
    </div>
    <div style="display: flex; align-items: center;" class="behavior-box">
        <div class="mx-2">
            <a href="/auth/out" class="text-dark">
                Logout
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    const behaviorBox = document.querySelector('.behavior-box');
    if (document.cookie) {
        behaviorBox.style.display = 'flex';
    } else {
        behaviorBox.style.display = 'none';
    }
</script>